/* body {
  font-family: nunito, sans-serif; 
   overflow-x: hidden; } */

.webContainer {
  opacity: 0;
  transition: 0.8s opacity;
}

.header {
  font-family: rockwell, sans-serif;
  font-weight: 400;
  font-size: 3.5em;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.subHeader {
  font-family: rockwell, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}

.para {
  font-family: rockwell, sans-serif;
  line-height: 1.5em;
  font-weight: 200;
  font-size: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navigation */
.navContainer {
  padding: 20pt;
  font-family: nunito, sans-serif;
}
.navContainer .nav {
  width: "100%";
  top: 0;
  overflow: hidden;
  display: inline;
}

.navContainer .nav li {
  position: relative;
  list-style-type: none;
}
.navContainer .nav .mainName {
  font-weight: 150;
  font-size: 2em;
  float: left;
  color: #9b31ff;
  text-decoration: none;
  padding-left: 15px;
  cursor: pointer;
}
.navContainer .nav .nav-link {
  font-size: 1.02em;
  float: right;
  color: #1b1c1e;
  padding: 10px 28px 10px 28px;
  cursor: pointer;
}

/**about **/

.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.headingContainer {
  width: 100%;
  padding: 5% 5% 5% 5%;
  justify-content: center;
  text-align: center;
  line-height: 2.6em;
}

.headingImage {
  position: relative;
  width: 700px;
}

@media (max-width: 900px) {
  .headingImage {
    width: 500px;
  }

  .header {
    font-size: 3.2em;
  }

  .subHeader {
    font-size: 50;
  }
}
/**Arrow**/
.arrowContainer {
  position: relative;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 4em;
  padding-bottom: 2em;
  width: 100%;
}

.arrow {
  cursor: pointer;
}

/**card and grid**/
.projectContainer {
  padding: 5em 0 5em 0;
  background-color: #f8f8f8;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

/***CARDS ***/

.card {
  border: none !important;
  width: 340px;
  height: 340px;
  text-align: center;
  justify-content: center;

  break-inside: avoid;
  background-color: #f8f8f8 !important;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardImgContainer {
  padding: 1em;
  display: inline-block;
}
.cardImg {
  height: 300px;
  text-align: center;
  transition: 0.5s ease;
}
.cardText {
  color: #707070;
  padding: 0.5em;
  position: absolute;
  transition: 0.5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.cardTitle {
  font-family: nunito, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.titleSeparator {
  width: 65%;
  color: #48556454;
}
.cardDescription {
  font-family: nunito, sans-serif;
  font-size: 1em;
}

@media (max-width: 900px) {
  .cardTitle {
    font-size: 1em;
  }
  .cardDescription {
    font-size: 0.8em;
  }
}

.cardContent:hover .cardImg {
  opacity: 0.1;
}

.cardContent:hover .cardText {
  opacity: 1;
}

#TorreySchedule {
  height: 120px;
  border-radius: 25px;
  box-shadow: 2px 2px #f8f8f8;
}

#Blend {
  height: 310px;
}

#MobileMuscle {
  height: 350px;
}

#LaserCutting {
  height: 100px;
}

#CrashTest2019-2020 {
  height: 170px;
}

.cardContent {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
}

/**END OF CARDS***/

@media (min-width: 300) {
  .grid {
    padding: 1em 3.5em 0 3.5em;
    display: grid;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .card {
    margin: auto;
    padding: 1em;
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 600px) {
  .grid {
    padding: 1em 1.5em 0 1.5em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .card {
    margin: auto;
    padding: 1em;
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 870px) {
  .grid {
    padding: 1em 5em 0 5em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .card {
    margin: auto;

    padding: 1em;
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 1085px) {
  .grid {
    display: inline-grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto;
  }

  /*
  .grid {
    padding: 1em 1.5em 0 1.5em;
    column-gap: 0.1em;
    row-gap: 0.5em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }


  */
}

@media (min-width: 1300px) {
  .grid {
    padding: 1em 10em 0 10em;
    column-gap: 0.5em;
    row-gap: 0.5em;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/**ABOUT**/
.aboutContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  justify-content: center;
  padding: 10em 18em 10em 20em;
  margin-top: 10em;
  margin-bottom: 2em;
}

.photoBubble {
  height: fit-content;
}
.ruslanaPic {
  border-radius: 60px;
  width: 400px;
  float: left;
}

.textBlurb {
  float: right;
  padding: 4em 1em 2em 3em;
}

.subHeaderAbout,
.specialHeader {
  font-family: rockwell, "sans-serif";
  display: inline;
  font-weight: 600;
}
.subHeaderAbout {
  font-size: 1.5em;
}

.specialHeader {
  color: #9b31ff;
}

.subHeaderPara {
  font-family: rockwell, sans-serif;
  font-weight: 300;
  margin-top: 0.5em;
  margin-left: 2.5em;
  line-height: 1.5em;
  font-size: 1em;
}
@media (max-width: 1500px) {
  .aboutContainer {
    padding: 1em 10em 5em 10em;
  }
}

@media (max-width: 1200px) {
  .aboutContainer {
    flex-direction: column;
    align-items: center;
    padding: 1em 10em 5em 10em;
  }

  .subHeader {
    float: none;
  }
}

footer {
  font-family: rockwell, sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  margin: auto;

  width: 100%;
  padding: 0 4em 0.01em 4em;
  color: #707070;
  background-color: #1b1c1e;
}

.bottomList {
  padding-top: 1em;
  list-style-type: none;
}

.bottomList .bottomText {
  margin-top: 5px;
  font-size: 1.2em;
  display: inline-block;
}

.bottomList .bottomLogo {
  display: inline-block;
  /* float: right; */
  padding-left: 1.5em;
}
